@page
@model Client.Frontend.Pages.IndexWithJsModel

<div class="container">
    <div class="text-center">
        <div class="p-2 bg-light rounded-3">
            <h5 class="display-6 py-3">Spruch des Tages</h5>
            <p class="text-center" id="author-photo"></p>
            <blockquote class="text-center">
                <!-- IndexWithJs.cshtml.css erweitert -->
                <p class="lead fw-bold" id="quote"></p>
                <cite>
                    <span id="author-name"></span> - <span id="author-description"></span>
                    <br />
                    <span id="author-birthdate"></span>
                </cite>
            </blockquote>
        </div>
    </div>
</div>

@section scripts {
    <script src="js/qotdapi/main.js" type="module"></script>
}