@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div class="text-center">
        <div class="p-2 bg-light rounded-3">
            <h5 class="display-6 py-3">Spruch Des Tages</h5>
            <p class="text-center">
                <!-- BILD -->
            </p>
            <blockquote class="text-center">
                <p class="lead fw-bold">@Model.QotdDto?.QuoteText</p>
                <cite>
                    <span>@Model.QotdDto?.AuthorName - @Model.QotdDto?.AuthorDescription</span>
                    <br />
                    <span>
                        @(Model.QotdDto?.AuthorBirthDate is not null ? Model.QotdDto.AuthorBirthDate.Value.ToShortDateString() : "k.A.")
                    </span>
                </cite>
            </blockquote>
        </div>
    </div>
</div>